body {
    margin: 0;
    background-color: #252526;
    font-family: 'Roboto', sans-serif;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #252526;
    overflow: auto;
    position: fixed;
    z-index: 3;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: #D5E5F2;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    width: 23.72%;
    text-align: center;
    text-rendering: optimizeLegibility;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #4CAF50;
}

#bannerimg1 {
    width: 33%;
    height: auto;
}

#bannerimg2 {
    width: 33%;
    height: auto;
}

#bannerimg3 {
    width: 33%;
    height: auto;
}

h1 {
    margin: 0;
    margin-left: 1%;
    margin-top: 14;
}

.background {
    margin-left: -125;
    margin-right: -250;
    height: auto;
    top: 135;
    position: fixed;
    z-index: 1;
}

.frontpage {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    z-index: 2;
}

.frontpage a {
    float: left;
    width: 14%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

.home {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.home a {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

.esotericism {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.esotericism a {
    float: left;
    width: 9%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

.gallery {
    background-color: #101010;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.gallery a {
    float: left;
    width: 14%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

.eronk {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.eronk a {
    float: left;
    width: 20%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

.__processing0 {
    margin-left: 25%;
}