body {
    margin: 0;
    background-color: #252526;
    font-family: 'Roboto', sans-serif;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #252526;
    overflow: auto;
    position: fixed;
    z-index: 3;
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: #D5E5F2;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    width: 22%;
    text-rendering: optimizeLegibility;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #4CAF50;
}

#bannerimg1 {
    width: 33%;
    height: auto;
}

#bannerimg2 {
    width: 33%;
    height: auto;
}

#bannerimg3 {
    width: 33%;
    height: auto;
}

h1 {
    margin: 0;
    margin-left: 1%;
    margin-top: 14;
}

.background {
    margin-left: -125;
    margin-right: -250;
    height: auto;
    top: 135;
    position: fixed;
    z-index: 1;
}

.frontpage {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    z-index: 2;
}

.frontpage a {
    float: left;
    width: 14%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

.home {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.home a {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    
}

#homeParagraphOne {
    background-color: #101010;
    position: absolute;
    top: 350px;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    color: #D5E5F2;
    font-weight: 100;
    font-size: 22;
    border-width: 1;
    border-style: solid;
}

#homeParagraphTwo {
    background-color: #101010;
    position: absolute;
    top: 465px;
    font-family: 'Roboto', sans-serif;
    color: #D5E5F2;
    font-weight: 100;
    font-size: 22;
    border-width: 1;
    border-style: solid;
}

.esotericism {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    padding-left: 8px;
    padding-right: 24;
    z-index: 2;
}

.esotericism a {
    float: left;
    width: 9%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

#esotericismParagraph {
    background-color: #101010;
    position: absolute;
    top: 350px;
    font-family: 'Roboto', sans-serif;
    color: #D5E5F2;
    font-weight: 100;
    font-size: 22;
    border-width: 1;
    border-style: solid;
    
}

.gallery {
    background-color: #101010;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.gallery a {
    float: left;
    width: 14%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

#galleryParagraph {
    background-color: #101010;
    position: absolute;
    top: 545px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    color: #D5E5F2;
    font-weight: 100;
    font-size: 22;
    border-width: 1;
    border-style: solid;
}

.galleryDefo {
    background-color: #101010;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.galleryDefo a {
    float: left;
    width: 25%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

.gallerySpiral {
    background-color: #101010;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.gallerySpiral a {
    float: left;
    width: 12.5%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

.galleryTerrain {
    background-color: #101010;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.galleryTerrain a {
    float: left;
    width: 14.2%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

.terrainNext {
    z-index: 3;
    background-color: #000000;
    width: 250px;
    height 100px;
    position: absolute;
    border-color: #D5E5F2;
    border-width: 2px;
    border-style: ridge;
    margin-top: 350;
    margin-left: 70%;
    left: 0;
}

.terrainNext a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-decoration: none;
    width: 100%;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

.galleryLightning {
    background-color: #101010;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.galleryLightning a {
    float: left;
    width: 11.1111%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

#triaFlow a {
    width: 12.5%;
}

.galleryLinks {
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 340;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.galleryLinks a {
    float: left;
    width: 33%;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
    border-color: #D5E5F2;
    border-width: 1px;
    border-style: solid;
}

.eronk {
    background-color: #101010;
    opacity: 0.95;
    width: 80%;
    margin-top: 64;
    margin-left: 10%;
    margin-right: 250;
    margin-bottom: 110;
    top: 135;
    height: auto;
    position: absolute;
    padding: 16;
    z-index: 2;
}

.eronk a {
    float: left;
    width: 20%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 128px;
    font-weight: 100;
    color: #D5E5F2;
    text-rendering: optimizeLegibility;
}

#eronkParagraph {
    background-color: #101010;
    position: absolute;
    top: 350px;
    font-family: 'Roboto', sans-serif;
    color: #D5E5F2;
    font-weight: 100;
    font-size: 22;
    border-width: 1;
    border-style: solid;
}

.__processing0 {
    margin-left: 25%;
}
